/* Várias formas de estilizar texto no css */
body{
    background-color: #b6bcbd;
}
 h1{

color: darkorange;

}
/* Forma de estilizar em classe */
.titulo-principal{
    
    color: rgb(5, 231, 62);
    font-size: 120px;

}

#titulo{

     color: blue;
     font-size: 80px;

} 
/* Para colocar fundo na página ou texto */

.card {
    color: #8a2be2;
    font-size: 40px;

}